{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="card">
    <div class="card-header">
        <a class="btn btn-outline-dark" href="{% url 'store' %}">&#8592; Continue shopping</a>

    </div>
    <div class="card-body">

        <table class="table card-title">
            <tr>
                <th><h5>Items: <strong>{{order.cartItems}}</strong></h5></th>
                <th><h5>Total: <strong>${{order.cartTotal}}</strong></h5></th>

            </tr>
        </table>
  
      <p class="card-text">

        <div class="cart-row">
            <div style="flex:2"></div>
            <div style="flex:2"><strong>Item</strong></div>
            <div style="flex:1"><strong>Price</strong></div>
            <div style="flex:1"><strong>Quantity</strong></div>
            <div style="flex:1"><strong>Total</strong></div>
        </div>

        {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="product-image" src="{{item.product.imageURL}}"> </div>
                <div style="flex:2">{{item.product.name}}</div>
                <div style="flex:1">${{item.product.price|floatformat:2}}</div>
                <div style="flex:1">
                    <img data-product="{{item.product.id}}" data-action="remove" class="changeQuantity updatecart"  src="{% static 'images/dash.svg' %}">
                    {{item.quantity}}
                    <img data-product="{{item.product.id}}" data-action="add" class="changeQuantity updatecart" src="{% static 'images/plus.svg' %}">
                
                </div>
                <div style="flex:1">
                        ${{item.getTotal}}
                </div>
            </div>
        {% endfor %}


      </p>
      <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
    </div>
</div>





{% endblock content %}
