{% extends 'main.html' %}
{% load static %}

{% block content %}


<form method="POST" action="">
    {% csrf_token %}

    <div class="mb-3">
        <label for="InputUsername" class="form-label">Username</label>
        {{form.username}}
    </div>
    <div class="mb-3">
          <label for="InputEmail" class="form-label">Email address</label>
          {{form.email}}
    </div>
    <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          {{form.password1}}
    </div>
    <div class="mb-3">
        <label for="InputPassword1" class="form-label">Password</label>
        {{form.password2}}
  </div>
        <button type="submit" class="btn btn-primary">Register</button>

</form>

{{form.errors}}

{% endblock content %}