{% extends 'main.html' %}
{% load static %}

{% block content %}



<div class="card mx-auto" style="width: 18rem;">
    <h5 class="card-header">Profile</h5>
    <div class="card-body">
      <p class="card-text">
        <form method="POST" action="{% url 'update_password' %}">
            {% csrf_token %}
        
            {{form.as_p}}
                <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    {{form.errors}}
  </div>





{% endblock content %}